body {
}
/*
.km-android .km-navbar .km-view-title
{
    visibility: visible;
}
*/
/*Font Icons Display as Squares in Android v4+*/
/*
 .km-root .km-on-android .km-view span.km-icon
{
    background: none;
}

.km-root .km-pane.km-pane.km-on-android .km-view span.km-icon:after
{
    background: none;
    -webkit-text-fill-color: inherit;
}
*/

.k-datepicker .k-select {
    height: 100%;
}
.k-datepicker .k-picker-wrap {
    height: 100%;
}
.k-datepicker .k-input {
    height: 100%;
}
/*TODO: DEL AK: hide datepicker button example*/
/*.k-datepicker .k-select {
    display: none;
}
.k-datepicker .k-picker-wrap {
    padding: 0;
}
.k-datepicker .k-input {
    border-radius: 3px;
}*/

.hidden {
    display: none;
}

.date {
    width: 140px;
}

.gallery-title
{ 
    text-align: center;
    margin: 5px auto;
    padding: 0px;
}
.gallery-image-content
{
    height: 100%;
    overflow: hidden;
}
.gallery-image
{
    display: block;
    height: 90%;
    width: 100%; 
    background-size: 100% auto;
    background-repeat: no-repeat; 
}
.gallery-image-view img
{
    /*width: 100%;*/
    /*height: 100%;*/ 
    display: block;
    max-width: 100%;
    max-height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.list {
}
.list-item-header {
    font-size: large;
}
.list-item-header p {
    margin: 10px;
}
.list-item-text {
    font-size: large;
}
.list-item-selected {
    background-color:#01796F;
}

.logo {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 40%;
}

.nav-button {
    font-size: medium;
    height: 80%;
}

.menu-section {
    width: 100%;
}
.menu-section p {
    margin: 0 0 5px;
}

.slide-panel-right {
    position: absolute;
    top: 0px;
    left: 0;
    /*left: 100%;*/
    width: 300px;
    height: 100%;
    margin-left: 100%;
    /*margin-left: 0;*/
    border: solid #e9e9e9;
    border-width: 1px 1px 1px 1px;
    background-color: White;
}

.start-menu-button {
    font-size: large;
    width: 60%;
}


.tabstrip-button {
    font-size: 200%;
}

.visit-menu-button {
    width:250px;
}



/*--theming-------------*/
/*http://docs.telerik.com/kendo-ui/mobile/styling*/
/*
.km-flat .km-switch-handle,
.km-flat .k-slider-selection,
.km-flat .km-switch-background
{
    color: #369;
}

.km-flat .km-loader,
.km-flat .km-rowinsert,
.km-flat .km-state-active,
.km-flat .km-scroller-pull,
.km-flat .k-slider-selection,
.km-flat .km-touch-scrollbar,
.km-flat .km-pages .km-current-page,
.km-flat .k-slider .k-draghandle,
.km-flat .k-slider .k-draghandle:hover,
.km-flat .km-tabstrip .km-state-active,
.km-flat .km-scroller-refresh.km-load-more,
.km-flat .km-popup .k-state-hover,
.km-flat .km-popup .k-state-focused,
.km-flat .km-popup .k-state-selected,
.km-flat .km-actionsheet > li > a:active,
.km-flat .km-actionsheet > li > a:hover,
.km-flat li.km-state-active .km-listview-link,
.km-flat li.km-state-active .km-listview-label,
.km-flat .km-listview-label input[type=radio]:checked,
.km-flat .km-listview-label input[type=checkbox]:checked
{
    background: #369;
}

.km-flat .km-filter-wrap > input:focus
{
    border-color: #369;
}
*/
