body {
}
/*
.km-android .km-navbar .km-view-title
{
    visibility: visible;
}
*/
/*Font Icons Display as Squares in Android v4+*/
/*
 .km-root .km-on-android .km-view span.km-icon
{
    background: none;
}

.km-root .km-pane.km-pane.km-on-android .km-view span.km-icon:after
{
    background: none;
    -webkit-text-fill-color: inherit;
}
*/
.hidden {
    display:none;
}

.date {
    width: 140px;
}

.list {
}
.list-item-header {
    font-size: 100%;
}
.list-item-text {
    font-size: 100%;
}
.list-item-selected {
    background-color:#01796F;
}

.visit-menu-button {
    width:250px;
}

.menu-section {
    width: 100%;
}
.menu-section p {
    margin: 0 0 5px;
}

.tabstrip-button {
    font-size: 200%;
}

