<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <script src="scripts/Exchange.js"></script>
    <div id="exchange-view"
        data-layout="main"
        data-role="modalview"
        data-title="Обмен информацией">
        
        <header data-role="header">
            <div data-role="navbar">
                <span data-role="view-title"></span>
                <a data-role="button" data-align="right" data-click="exchangeViewClose">Закрыть</a>
            </div>
        </header>
        
    </div>
</body>
</html>
