<!DOCTYPE html>
<html>
<head>
    <title>Points</title>
</head>
<body>
    <script src="scripts/PointList.js"></script>
    <div data-role="view" data-title="Points" data-layout="main" data-init="pointListInit" data-show="pointListShow">
        <ul data-role="listview" id="point-list" class="list" data-template="point-tmpl"></ul>
        <script id="point-tmpl" type="text/x-kendo-template">
            <p class="list-item-header">#:name#</p>
            <p class="list-item-text">#:cityName#, #:addr#</p>
        </script>
    </div>
</body>
</html>
