<!DOCTYPE html>
<html>
<head>
    <title>Route</title>
</head>
<body>
    <script src="scripts/RouteList.js"></script>
    
    <div data-role="view" id="route-view" data-title="Visits" data-layout="main" data-init="routeListInit" data-show="routeListShow">
        <header data-role="header">
            <div data-role="navbar">
                <label>
                    <input data-role="datepicker" class="date" id="route-prdbgn" data-align="left" data-change="routePrdBgnOnChange">
                </label>
                <span data-role="view-title"></span>
                <!--<a data-align="right" data-role="button" data-click="testOnClick">test</a>-->
            </div>
        </header>
        
        <ul data-role="listview" id="route-list" class="list" data-template="route-tmpl" data-click="routeListOnClick"></ul>
        <script id="route-tmpl" type="text/x-kendo-template">
            <p class="list-item-header">#:name#</p>
            <p class="list-item-text">#:cityName#, #:addr#</p>
        </script>
    </div>
    
    <div data-role="view" id="route-view-edit" data-title="Visit" data-layout="main" data-show="routeListItemShow">
        <header data-role="header">
            <div data-role="navbar">
                <a class="nav-button" data-align="left" data-role="backbutton" id="route-edit-cancel">Cancel</a>
                <span data-role="view-title"></span>
                <a class="nav-button" data-align="right" data-role="button" id="route-edit-save">Save</a>
            </div>
        </header>
        
        <form>
            <ul data-role="listview" data-style="inset">
                <li>
                    <label>
                        checkbox:
                        <input type="checkbox" id="checkbox"/>
                    </label>
                </li>
                <li>
                    <label>Date
                        <input data-role="datepicker" id="route-edit-datebgn">
                    </label>
                </li>
                <li>
                    <label>Customer
                        <input id="route-edit-custid">
                    </label>
                </li>
                <li>
                    <ul data-role="listview" id="route-edit-skulist" class="list" data-fixed-headers="true" data-template="route-edit-skulist-tmpl" data-header-template="route-edit-skulist-header-tmpl" data-click="routeEditSkulistOnClick"></ul>
                    <script id="route-edit-skulist-tmpl" type="text/x-kendo-template">
                        <p class="list-item-header">
                            <!--<input type="checkbox" class="checkbox"/>-->
                            <input data-role="switch" data-on-label="Yes" data-off-label="No" data-bind="checked: qnt"/>
                            <span>
                            #switch (qnt) { case 0:# <img id="route-edit-skulist-check" src="styles/images/RouteVisitNot.png" /> #; break; case 1:# <img id="route-edit-skulist-check" src="styles/images/Ok.png" /> #; break; default:#  #; break }#
                            </span>
                            <span>#:name#</span>
                        </p>
                        <!--<a data-role="button">Order</a>-->
                        <!--<div class="item click" data="${skuId}">
                            <input type="checkbox" class="click" />
                            <span class="checkbox">=:name=</span>
                        </div>-->
                    </script>
                    <script id="route-edit-skulist-header-tmpl" type="text/x-kendo-template">
                        #: value #
                    </script>

                </li>
            </ul>
        </form>
    </div>
</body>
</html>
