<!DOCTYPE html>
<html>
<head>
    <title>Route</title>
</head>
<body>
    <script src="scripts/RouteList.js"></script>
    
    <div data-role="view" id="route-view" data-title="Visits" data-layout="main" data-init="routeListInit" data-show="routeListShow">
        <header data-role="header">
            <div data-role="navbar">
                <a class="nav-button" data-align="right" data-role="button" data-click="ShowViewOnClick">Show sku view</a>
                <input data-role="datepicker" class="date" id="route-prdbgn" data-align="right" data-change="routePrdBgnOnChange">
                <span data-role="view-title"></span>
                <!--<a data-align="right" data-role="button" data-click="testOnClick">test</a>-->
            </div>
        </header>
        
        <ul data-role="listview" data-type="group">
            <li>
                Sku view type
                <ul>
                    <li>
                        <label>
                            <input name="radio" type="radio" id="simple-view-radio" checked="checked" />
                            Simple view
                        </label>
                    </li>
                    <li>
                        <label>
                            <input name="radio" type="radio" id="tmpl-view-radio" />
                            Template view
                        </label>
                    </li>
                </ul>
            </li>
            <li>
                Sku view settings
                <ul>
                    <li>
                        <label>
                            <input type="checkbox" id="grouped-view-checkbox" />
                            Grouped view
                        </label>
                    </li>
                    <!--<li>
                        <label>
                            <input type="checkbox" id="show-checkbutton-checkbox" />
                            Show checkbutton
                        </label>
                    </li>-->
                    <li>
                        <label>
                            <input type="checkbox" id="show-switch-checkbox" />
                            Show switch
                        </label>
                    </li>
                </ul>
            </li>
            <li>
                Visits
                <ul data-role="listview" id="route-list" class="list" data-template="route-tmpl" data-click="routeListOnClick"></ul>
                <script id="route-tmpl" type="text/x-kendo-template">
                    <p class="list-item-header">#:name#</p>
                    <p class="list-item-text">#:cityName#, #:addr#</p>
                </script>
            </li>
        </ul>
    </div>
</body>
</html>
