<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <script src="scripts/Start.js"></script>
    <div id="start-view"
        data-role="view"
        data-layout="main"
        data-stretch="true"
        data-title="DSS Mobile"
        data-init="startOnInit"
        data-show="startOnShow">
        
        <header data-role="header">
            <div data-role="navbar">
                <a id="error-button" class="nav-button error hidden" data-align="left" data-role="button" data-icon="error" data-click="startErrorOnClick" style="color: Red;"></a>
                <span data-role="view-title"></span>
                <a class="nav-button" data-align="right" data-role="button" data-icon="settings" href="views/test/Test.html"></a>
            </div>
        </header>
        
        <div class="start-menu-outer">
            <div class="start-menu-inner">
                <p>
                    <a class="start-menu-button" data-role="button" href="views/VisitList.html">Маршрут</a>
                </p>
                <p>
                    <a class="start-menu-button" data-role="button" href="views/PointList.html">Перечень торговых точек</a>
                </p>
                <p>
                    <a class="start-menu-button" data-role="button" data-click="startExchangeOnClick">Обмен информацией</a>
                </p>
            </div>
        </div>
    </div>
</body>
</html>