<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <script src="scripts/Visit.js"></script>
    <div 
        id="visit-view" 
        data-role="view" 
        data-title="Визит" 
        data-layout="main" 
        data-init="visitInit" 
        data-show="visitShow">
      
        <header data-role="header">
            <div data-role="navbar">
                <a class="nav-button" data-align="left" data-role="button" data-icon="back" href="#:back"></a>
                <span data-role="view-title"></span>
                <a id="visit-start-button" data-role="button" data-align="right" data-click="visitStartOnClick">Начать</a>
                <a id="visit-finish-button" class="hidden" data-role="button" data-align="right" data-click="visitFinishOnClick">Закончить</a>
            </div>
        </header>
        
        <ul class="list list-item-header" data-role="listview">
            <li>
                <p>
                    <table cellspacing="5">
                        <tr>
                            <td width="80px"><span>Время</span></td>
                            <td><span id="visit-time"></span></td>
                        </tr>
                    </table>
                </p>
            </li>
            <li>
                <p>
                    <table cellspacing="5">
                        <tr>
                            <td width="80px"><span>Точка</span></td>
                            <td><span id="visit-point-name"></span></td>
                        </tr>
                    </table>
                </p>
            </li>
            <li class="list-item-group-header" style="background-color: LightGray;">
                <p>Первичный анализ</p>
            </li>
            <li>
                <a href="views/VisitProdCategory.html?visitPlanItemId=1">
                    <p>Наличие продукции</p>
                </a>
            </li>
            <li>
                <p>Соблюдение планограммы</p>
            </li>
            <li>
                <p>Фотоотчет</p>
            </li>
            <li class="list-item-group-header" style="background-color: LightGray;">
                <p>Основной анализ</p>
            </li>
            <li>
                <p>Наличие продукции</p>
            </li>
            <li>
                <p>Соблюдение планограммы</p>
            </li>
            <li>
                <p>Доля на полке</p>
            </li>
            <li>
                <p>Промоактивность конкурентов</p>
            </li>
        </ul>
    </div>
</body>
</html>