<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <script src="scripts/VisitProducts.js"></script>
    
    <div data-role="view" id="visit-view-edit" data-title="Visit" data-layout="main" data-show="visitListItemShow">
        <header data-role="header">
            <div data-role="navbar">
                <a class="nav-button" data-align="left" data-role="backbutton" data-icon="back"></a>
                <span data-role="view-title"></span>
            </div>
        </header>
        
        <form>
            <ul data-role="listview" id="visit-edit-skulist" class="list" data-fixed-headers="true" data-template="visit-edit-skulist-tmpl" 
                data-header-template="visit-edit-skulist-header-tmpl">
            </ul>
            <script id="visit-edit-skulist-tmpl" type="text/x-kendo-template">
                <p class="list-item-header">
                    <input type="checkbox" class="checkbox"/>
                    <!--<input data-role="switch" data-on-label="Yes" data-off-label="No" data-bind="checked: qnt"/>-->
                    <span>#:name#</span>
                </p>
            </script>
            <script id="visit-edit-skulist-header-tmpl" type="text/x-kendo-template">
                #: value #
            </script>
        </form>
    </div>
</body>
</html>