<!DOCTYPE html>

<html>
<head>
  <title></title>
</head>
<body>
  <script src="scripts/Visit.js"></script>
  <div data-role="view" id="visit-view" data-title="Визит" data-layout="main" data-init="visitInit" data-show="visitShow">
    <header data-role="header">
      <div data-role="navbar">
        <a class="nav-button" data-align="left" data-role="backbutton" data-icon="back"></a>
        <span data-role="view-title"></span>
          <a data-role="button" id="visit-start-button" data-align="right" data-click="visitStartOnClick">Начать</a>
          <a data-role="button" id="visit-finish-button" class="hidden" data-align="right" data-click="visitFinishOnClick">Закончить</a>
      </div>
    </header>
    <!--<table align="center">
      <tr>
        <td>
          <p>
            <a data-role="button" id="visit-1-button" class="visit-menu-button" data-click="visit1OnClick">Задачи на визит</a>
          </p>
          <p>
            <a data-role="button" id="visit-3-button" class="visit-menu-button" data-click="visit1OnClick">Наличие продукции</a>
          </p>
          <p>
            <a data-role="button" id="visit-5-button" class="visit-menu-button" data-click="visit1OnClick">POS-материалы</a>
          </p>
          <p>
            <a data-role="button" id="visit-7-button" class="visit-menu-button" data-click="visit1OnClick">Прайс аудит</a>
          </p>
        </td>
        <td>
          <p>
            <a data-role="button" id="visit-2-button" class="visit-menu-button" data-click="visit1OnClick">Конкуренты</a>
          </p>
          <p>
            <a href="views/VisitPhoto.html" data-role="button" id="visit-photo-button" class="visit-menu-button" data-click="visitPhotoOnClick">Фото-отчет</a>
          </p>
          <p>
            <a data-role="button" id="visit-6-button" class="visit-menu-button" data-click="visit1OnClick">Отчет по визиту</a>
          </p>
          <p>
            <a data-role="button" id="visit-8-button" class="visit-menu-button" data-click="visit1OnClick">Задачи на следующий визит</a>
          </p>
        </td>
      </tr>
    </table>-->
    <div class="menu-section" align="center">
      <p>
        <a data-role="button" id="visit-1-button" class="visit-menu-button" data-click="visit1OnClick">Задачи на визит</a>
        <a data-role="button" id="visit-2-button" class="visit-menu-button" data-click="visit1OnClick">Конкуренты</a>
      </p>
      <p>
        <a data-role="button" id="visit-3-button" class="visit-menu-button" data-click="visit1OnClick">Наличие продукции</a>
        <a href="views/VisitPhoto.html" data-role="button" id="visit-photo-button" class="visit-menu-button" data-click="visitPhotoOnClick">Фото-отчет</a>
      </p>
      <p>
        <a href="views/VisitPlanogramList.html" data-role="button" id="visit-planogram-list-button" class="visit-menu-button" data-click="visit1PlanogramListOnClick">POS-материалы</a>
        <a data-role="button" id="visit-6-button" class="visit-menu-button" data-click="visit1OnClick">Отчет по визиту</a>
      </p>
      <p>
        <a data-role="button" id="visit-7-button" class="visit-menu-button" data-click="visit1OnClick">Прайс аудит</a>
        <a data-role="button" id="visit-8-button" class="visit-menu-button" data-click="visit1OnClick">Задачи на следующий визит</a>
      </p>
    </div>
  </div>
</body>
</html>