<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <script src="scripts/VisitPromo.js"></script>
    <script src="scripts/PhotoGallery.js"></script>
    
    <div id="visit-promo-promos-view"
        data-role="view" 
        data-title="Промо-активность" 
        data-layout="main" 
        data-init="visitPromoPromosInit" 
        data-show="visitPromoPromosShow">
        
        <header data-role="header">
            <div data-role="navbar">
                <a class="nav-button" data-align="left" data-role="button" data-icon="back" data-click="visitPromoPromosNavBackClick"></a>
                <span data-role="view-title"></span>
                <a class="nav-button" data-align="right" data-role="button" data-icon="add" data-click="visitPromoAddClick"></a>
            </div>
        </header>
        
        <ul id="visit-promo-promos-list" class="list list-item-header" data-role="listview" data-template="visit-promo-promos-list-tmpl" data-click="visitPromoPromosListClick"></ul>
    
        <script id="visit-promo-promos-list-tmpl" type="text/x-kendo-template">
            <a class="list-item-header">
                <p>
                    <div>#:brandName# (#:genderName#): #:promoName#</div>
                    <div class="list-item-comment">
                        #switch (extInfoKind) {
                            case 1:
                                #Скидка: #:(extInfoVal != null ? extInfoVal * 100 + "%" : "")##
                                break;
                            case 2:
                                #Количество к оплате: #:(extInfoVal != null ? extInfoVal : "")#, количество к получению: #:(extInfoVal2 != null ? extInfoVal2 : "")##
                                break;
                            case 3:
                                #Название: #:(extInfoName != null ? extInfoName : "")#, объем: #:(extInfoVal != null ? extInfoVal : "")##
                                break;
                        }#
                    </div>
                </p>
            </a>
        </script>
        
    </div>
    
    <div id="visit-promo-brand-view"
        data-role="view" 
        data-title="Бренд" 
        data-layout="main" 
        data-show="visitPromoBrandShow">
        
        <header data-role="header">
            <div data-role="navbar">
                <a class="nav-button" data-align="left" data-role="button" data-icon="back" data-click="visitPromoBrandNavBackClick"></a>
                <span data-role="view-title"></span>
            </div>
        </header>
        
        <ul id="visit-promo-brand-list" class="list list-item-header" data-role="listview" data-template="visit-promo-brand-list-tmpl" data-click="visitPromoBrandListClick"></ul>
    
        <script id="visit-promo-brand-list-tmpl" type="text/x-kendo-template">
            <a class="list-item-header">
                <p><div>#:name#</div></p>
            </a>
        </script>
    </div>
    
    <div id="visit-promo-gender-view"
        data-role="view" 
        data-title="Вид продукта" 
        data-layout="main" 
        data-show="visitPromoGenderShow">
        
        <header data-role="header">
            <div data-role="navbar">
                <a class="nav-button" data-align="left" data-role="button" data-icon="back" href="#:back"></a>
                <span data-role="view-title"></span>
            </div>
        </header>
        
        <ul id="visit-promo-gender-list" class="list list-item-header" data-role="listview" data-template="visit-promo-gender-list-tmpl" data-click="visitPromoGenderListClick"></ul>
    
        <script id="visit-promo-gender-list-tmpl" type="text/x-kendo-template">
            <a class="list-item-header">
                <p><div>#:name#</div></p>
            </a>
        </script>
    </div>
    
    <div id="visit-promo-promo-grp-view"
        data-role="view" 
        data-title="Группа промо-активности" 
        data-layout="main" 
        data-show="visitPromoPromoGrpShow">
        
        <header data-role="header">
            <div data-role="navbar">
                <a class="nav-button" data-align="left" data-role="button" data-icon="back" href="#:back"></a>
                <span data-role="view-title"></span>
            </div>
        </header>
        
        <ul id="visit-promo-promo-grp-list" class="list list-item-header" data-role="listview" data-template="visit-promo-promo-grp-list-tmpl" data-click="visitPromoPromoGrpListClick"></ul>
    
        <script id="visit-promo-promo-grp-list-tmpl" type="text/x-kendo-template">
            <a class="list-item-header">
                <p><div>#:name#</div></p>
            </a>
        </script>
    </div>
    
    <div id="visit-promo-promo-view"
        data-role="view" 
        data-title="Промо-активность" 
        data-layout="main" 
        data-init="visitPromoPromoInit" 
        data-show="visitPromoPromoShow">
        
        <header data-role="header">
            <div data-role="navbar">
                <a class="nav-button" data-align="left" data-role="button" data-icon="back" href="#:back"></a>
                <span data-role="view-title"></span>
            </div>
        </header>
        
        <ul id="visit-promo-promo-list" class="list list-item-header" data-role="listview" data-template="visit-promo-promo-list-tmpl" data-click="visitPromoPromoListClick"></ul>
    
        <script id="visit-promo-promo-list-tmpl" type="text/x-kendo-template">
            <a class="list-item-header">
                <p><div>#:name#</div></p>
            </a>
        </script>
    </div>
    
    <div id="visit-promo-edit-view"
        data-role="view" 
        data-title="Промо-активность" 
        data-layout="main" 
        data-init="visitPromoEditInit"
        data-show="visitPromoEditShow">
        
        <header data-role="header">
            <div data-role="navbar">
                <a class="nav-button" data-align="left" data-role="button" data-icon="back" data-click="visitPromoEditNavBackClick"></a>
                <span data-role="view-title"></span>
                <a id="visit-promo-edit-save-button" class="nav-button hidden" data-align="right" data-role="button" data-click="visitPromoEditSaveClick">Сохранить</a>
                <a id="visit-promo-edit-del-button" class="nav-button hidden" data-align="right" data-role="button" data-click="visitPromoEditDelClick">Удалить</a>
            </div>
        </header>
        
        <form>
            <ul id="visit-promo-edit-list" class="list form-list" data-role="listview" data-click="visitPromoEditListClick">
                <li>
                    <label>Описание
                        <div><span id="visit-promo-edit-brand-name"></span> (<span id="visit-promo-edit-gender-name"></span>): <span id="visit-promo-edit-promo-name"></span></div>
                    </label>
                </li>
                <li class="visit-promo-edit-ext-kind1">
                    <label class="visit-promo-edit-ext-kind1">% скидки
                        <input id="visit-promo-edit-ext-discount" class="editable" type="number" onchange="visitPromoEditControlChange(this.id, this.value)"/>
                    </label>
                </li>
                <li class="visit-promo-edit-ext-kind2">
                    <label class="visit-promo-edit-ext-kind2">Количество к оплате
                        <input id="visit-promo-edit-ext-qty-pay" class="editable" type="number" onchange="visitPromoEditControlChange(this.id, this.value)"/>
                    </label>
                </li>
                <li class="visit-promo-edit-ext-kind2">
                    <label class="visit-promo-edit-ext-kind2">Количество к получению
                        <input id="visit-promo-edit-ext-qty-get" class="editable" type="number" onchange="visitPromoEditControlChange(this.id, this.value)"/>
                    </label>
                </li>
                <li class="visit-promo-edit-ext-kind3">
                    <label class="visit-promo-edit-ext-kind3">Название
                        <input id="visit-promo-edit-ext-name" class="editable" type="text" onchange="visitPromoEditControlChange(this.id, this.value)"/>
                    </label>
                </li>
                <li class="visit-promo-edit-ext-kind3">
                    <label class="visit-promo-edit-ext-kind3">Объем
                        <input id="visit-promo-edit-ext-volume" class="editable" type="number" onchange="visitPromoEditControlChange(this.id, this.value)"/>
                    </label>
                </li>
                <li id="visit-promo-edit-li-photo-gallery">
                    <a id="visit-promo-edit-photo-gallery"
                        style="background-image: url(styles/images/TakePhoto1.png); background-repeat: no-repeat; background-position: 15px center">
                        <p><div style="margin-left: 60px;">Фотоотчет</div></p>
                    </a>
                </li>
            </ul>
        </form>
    </div>
    
</body>
</html>