<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <script src="scripts/VisitPhoto.js"></script>
    <script src="scripts/PhotoGallery.js"></script>
    
    <div id="visit-photo-view"
        data-role="view" 
        data-title="Фотоотчет" 
        data-layout="main" 
        data-init="visitPhotoInit" 
        data-show="visitPhotoShow">
        
        <header data-role="header">
            <div data-role="navbar">
                <span data-role="view-title"></span>
            </div>
        </header>
        
    </div>
    
</body>
</html>