<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <script src="scripts/VisitAnalysisResult.js"></script>
    <script src="scripts/Visit.js"></script>
    
    <div id="visit-analysis-results-view"
        data-role="view" 
        data-title="Результаты первичного анализа" 
        data-layout="main" 
        data-init="visitAnalysisResultsInit" 
        data-show="visitAnalysisResultsShow">
        
        <header data-role="header">
            <div data-role="navbar">
                <a class="nav-button" data-align="left" data-role="button" data-icon="back" data-click="visitAnalysisResultsNavBackClick"></a>
                <span data-role="view-title"></span>
            </div>
        </header>
        
        <form>
            <ul data-role="listview" id="visit-analysis-results-list" class="list" data-template="visit-analysis-results-tmpl">
            </ul>
            
            <script id="visit-analysis-results-tmpl" type="text/x-kendo-template">
                <a class="list-item-header" 
                    #if (reasonId > 0) {#
                        href="\\#visit-analysis-result-edit-view?skuId=#:skuId#"
                    #} else {#
                        href="\\#visit-analysis-results-wizard-reason-view?skuId=#:skuId#&parentReasonId=-1"
                    #}#
                >
                    <p>
                        <table class="list-item-table">
                            <tr class="table-text-align">
                                <td width="60px">
                                    <div>#:code#</div>
                                </td>
                                <td width="100%">
                                    <div>#:name#</div>
                                    <div class="list-item-comment">#:reasonName#
                                        #if (useQnt == 1) {#, количество: #:reasonQnt##}#
                                        #if (useDate == 1) {#, дата: #:dateToStr(sqlDateToDate(reasonDate), "DD/MM/YYYY")##}#
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </p>
                </a>
            </script>
        </form>
    </div>
    
    <div id="visit-analysis-result-edit-view"
        data-role="view" 
        data-title="Результаты первичного анализа" 
        data-layout="main" 
        data-init="visitAnalysisResultEditInit" 
        data-show="visitAnalysisResultEditShow">
        
        <header data-role="header">
            <div data-role="navbar">
                <a class="nav-button" data-align="left" data-role="button" data-icon="back" data-click="visitAnalysisResultEditNavBackClick"></a>
                <span data-role="view-title"></span>
                <a class="nav-button" data-align="right" data-role="button" data-click="visitAnalysisResultEditSaveClick">Сохранить</a>
            </div>
        </header>
        
        <!--<div data-role="touch"
            data-swipe="visitAnalysisResultEditTouchSwipe"
            data-enable-swipe="1">-->
            <form>
                <ul id="visit-analysis-result-edit-list" class="list form-list" data-role="listview">
                    <li>
                        <label>Продукт
                            <input id="visit-analysis-result-edit-full-name" type="text" readonly="readonly"/>
                        </label>
                    </li>
                    <li>
                        <label>Причина отсутствия
                            <input id="visit-analysis-result-edit-reason"/>
                        </label>
                    </li>
                    <li>
                        <label>- дополнительно
                            <input id="visit-analysis-result-edit-reason2" disabled/>
                        </label>
                    </li>
                    <li>
                        <label>Количество
                            <input id="visit-analysis-result-edit-reason-qnt" type="number" disabled/>
                        </label>
                    </li>
                    <li>
                        <label>Дата
                            <input id="visit-analysis-result-edit-reason-date" type="date" style="position: relative; width: 100%; right: 0; margin-top: 0; top: 0;" disabled/>
                        </label>
                    </li>
                </ul>
            </form>
        <!--</div>-->
        
    </div>
    
    <div id="visit-analysis-results-wizard-reason-view"
        data-role="view" 
        data-title="Причина отсутствия" 
        data-layout="main" 
        data-init="visitAnalysisResultsWizardReasonInit" 
        data-show="visitAnalysisResultsWizardReasonShow">
        
        <header data-role="header">
            <div data-role="navbar">
                <a class="nav-button" data-align="left" data-role="button" data-icon="back" data-click="visitAnalysisResultsWizardReasonNavBackClick"></a>
                <span data-role="view-title"></span>
            </div>
        </header>
        
        <ul data-role="listview" id="visit-analysis-results-wizard-reason-list" class="list" data-template="visit-analysis-results-wizard-reason-tmpl"
            data-click="visitAnalysisResultsWizardReasonListClick">
        </ul>
        
        <script id="visit-analysis-results-wizard-reason-tmpl" type="text/x-kendo-template">
            <a class="list-item-header"
            >
                <p>#:name#</p>
            </a>
        </script>
    </div>
    
</body>
</html>
