<!DOCTYPE html>
<html>
<head>
    <title>Visit</title>
</head>
<body>
    <script src="scripts/VisitList.js"></script>
    
    <div data-role="view" id="visit-view" data-title="Visits" data-layout="main" data-init="visitListInit" data-show="visitListShow">
        <header data-role="header">
            <div data-role="navbar">
                <a class="nav-button" data-align="right" data-role="button" data-click="ShowViewOnClick">Show sku view</a>
                <input data-role="datepicker" class="date" id="visit-prdbgn" data-align="right" data-change="visitPrdBgnOnChange">
                <span data-role="view-title"></span>
                <!--<a data-align="right" data-role="button" data-click="testOnClick">test</a>-->
            </div>
        </header>
        
        <ul data-role="listview" data-type="group">
            <li>
                Sku view settings
                <ul>
                    <li>
                        <label>
                            <input type="checkbox" id="grouped-view-checkbox" />
                            Grouped view
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" id="endless-scrolling-checkbox"/>
                            Endless scrolling
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" id="show-checkbox-checkbox" />
                            Show checkbox
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" id="show-switch-checkbox" />
                            Show switch
                        </label>
                    </li>
                </ul>
            </li>
            <li>
                Visits
                <ul data-role="listview" id="visit-list" class="list" data-template="visit-tmpl" data-click="visitListOnClick"></ul>
                <script id="visit-tmpl" type="text/x-kendo-template">
                    <a href="views/VisitProducts.html?visitPlanItemId=#:visitPlanItemId#">
                      <span class="list-item-text">#:name#, #:cityName#, #:addr#</span>
                    </a>
                </script>
            </li>
        </ul>
    </div>
</body>
</html>
