<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <script src="scripts/VisitAnalysisResult.js"></script>
    <script src="scripts/Visit.js"></script>
    
    <div id="visit-analysis-results-view"
        data-role="view" 
        data-title="Результаты первичного анализа" 
        data-layout="main" 
        data-init="visitAnalysisResultsInit" 
        data-show="visitAnalysisResultsShow">
        
        <header data-role="header">
            <div data-role="navbar">
                <a class="nav-button" data-align="left" data-role="button" data-icon="back" data-click="visitAnalysisResultsNavBackClick"></a>
                <span data-role="view-title"></span>
            </div>
            <ul id="visit-analysis-results-show-all-button" class="menu-buttongroup" data-role="buttongroup" data-index="0" data-select="visitAnalysisResultsShowAll">
                <li>МА</li>
                <li>Все</li>
            </ul>
        </header>
        
        <form>
            <ul data-role="listview" id="visit-analysis-results-list" class="list" data-template="visit-analysis-results-tmpl">
            </ul>
            
            <script id="visit-analysis-results-tmpl" type="text/x-kendo-template">
                <a class="list-item-header" 
                    #if (reasonId > 0) {#
                        href="\\#visit-analysis-result-edit-view?skuId=#:skuId#"
                    #} else {#
                        href="\\#visit-analysis-results-wizard-reason-view?skuId=#:skuId#&parentReasonId=-1"
                    #}#
                >
                    <p>
                        <table class="list-item-table">
                            <tr class="table-text-align">
                                <td width="60px">
                                    <div>#:code#</div>
                                </td>
                                <td width="100%">
                                    <div>#:name#</div>
                                    <div class="list-item-comment">#:reasonName#
                                        #if (useQnt == 1) {#, количество: #:reasonQnt##}#
                                        #if (useDate == 1) {#, дата: #:dateToStr(sqlDateToDate(reasonDate), "DD/MM/YYYY")##}#
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </p>
                </a>
            </script>
        </form>
    </div>
    
    <div id="visit-analysis-result-edit-view"
        data-role="view" 
        data-title="Результаты первичного анализа" 
        data-layout="main" 
        data-init="visitAnalysisResultEditInit" 
        data-show="visitAnalysisResultEditShow">
        
        <header data-role="header">
            <div data-role="navbar">
                <a class="nav-button" data-align="left" data-role="button" data-icon="back" data-click="visitAnalysisResultEditNavBackClick"></a>
                <span data-role="view-title"></span>
                <a id="visit-analysis-result-edit-save-button" class="nav-button hidden" data-align="right" data-role="button" data-click="visitAnalysisResultEditSaveClick">Сохранить</a>
                <a id="visit-analysis-result-edit-del-button" class="nav-button hidden" data-align="right" data-role="button" data-click="visitAnalysisResultEditDelClick">Удалить</a>
            </div>
        </header>
        
        <form>
            <ul id="visit-analysis-result-edit-list" class="list form-list" data-role="listview">
                <li>
                    <label>Продукт
                        <input id="visit-analysis-result-edit-full-name" type="text" readonly="readonly"/>
                    </label>
                </li>
                <li>
                    <label>Причина отсутствия
                        <input id="visit-analysis-result-edit-reason"/>
                    </label>
                </li>
                <li class="visit-analysis-result-edit-reason-qnt">
                    <label>Количество
                        <input id="visit-analysis-result-edit-reason-qnt" class="editable" type="number" onchange="visitAnalysisResultEditControlChange(this.id, this.value)"/>
                    </label>
                </li>
                <li class="visit-analysis-result-edit-reason-date">
                    <label>Дата
                        <input id="visit-analysis-result-edit-reason-date" class="editable" type="date" style="position: relative; width: 100%; right: 0; margin-top: 0; top: 0;" 
                            onchange="visitAnalysisResultEditControlChange(this.id, this.value)"/>
                    </label>
                </li>
            </ul>
        </form>
        
    </div>
    
    <div id="visit-analysis-results-wizard-reason-view"
        data-role="view" 
        data-title="Причина отсутствия" 
        data-layout="main" 
        data-init="visitAnalysisResultsWizardReasonInit" 
        data-show="visitAnalysisResultsWizardReasonShow">
        
        <header data-role="header">
            <div data-role="navbar">
                <a class="nav-button" data-align="left" data-role="button" data-icon="back" data-click="visitAnalysisResultsWizardReasonNavBackClick"></a>
                <span data-role="view-title"></span>
            </div>
        </header>
        
        <ul data-role="listview" id="visit-analysis-results-wizard-reason-list" class="list" data-template="visit-analysis-results-wizard-reason-tmpl"
            data-click="visitAnalysisResultsWizardReasonListClick">
        </ul>
        
        <script id="visit-analysis-results-wizard-reason-tmpl" type="text/x-kendo-template">
            <a class="list-item-header"
            >
                <p>#:name#</p>
            </a>
        </script>
    </div>
    
</body>
</html>
