<!DOCTYPE html>
<html>
<head>
    <title>Visit</title>
</head>
<body>
    <script src="scripts/VisitList.js"></script>
    <script src="scripts/db/DbVisit.js"></script>
    <script src="scripts/Visit.js"></script>
    
    <div id="visit-list-view"
        data-role="view" 
        data-title="Маршрут" 
        data-layout="main" 
        data-init="visitListInit" 
        data-show="visitListShow">
        
        <header data-role="header">
            <div data-role="navbar">
                <a class="nav-button" data-align="left" data-role="button" data-icon="back" href="#:back"></a>
                <span data-role="view-title"></span>
                <!--<a class="nav-button" data-align="right" data-role="button" data-icon="prev-date" data-click="visitListPrdPrev"></a>-->
                <input data-role="datepicker" class="date nav-button" id="visit-prdbgn" data-align="right" data-change="visitListPrdBgnOnChange" onclick="visitListPrdBgnOnClick()">
                <!--<a class="nav-button" data-align="right" data-role="button" data-icon="next-date"  data-click="visitListPrdNext"></a>-->
            </div>
        </header>
        
        <div data-role="touch"
            data-swipe="visitListSwipe"
            data-enable-swipe="1">
            
            <ul id="visit-list" class="list" data-role="listview" data-template="visit-list-tmpl" ></ul>
            <ul id="visit-not-exists-list" class="list list-item-header" data-role="listview">
                <li style="height: 20em;">
                    <p><div style="position: absolute; top: 45%; width: 100%; text-align: center;">Визиты не запланированы</div></p>
                </li>
            </ul>
        </div>
        
        <script id="visit-list-tmpl" type="text/x-kendo-template">
            <a class="list-item-header" href="views/Visit.html?visitPlanItemId=#:visitPlanItemId#&visitId=#:visitId#"
                #if (inArray([2, 3, 4, 5], visitType)) {#
                    style="background-image: url(styles/images/Route0#if (inArray([4, 5], visitType)) {#1#} else {#2#}#.png); background-repeat: no-repeat; background-position: 15px center"
                #}#
            >
                <p><div style="margin-left: 45px;">#:name#, #:addr#</div></p>
            </a>
        </script>
        
    </div>
</body>
</html>
