<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <script src="scripts/Visit.js"></script>
    <div 
        id="visit-view" 
        data-role="view" 
        data-title="Категория" 
        data-layout="main" 
        data-init="visitInit" 
        data-show="visitShow">
      
        <header data-role="header">
            <div data-role="navbar">
                <a class="nav-button" data-align="left" data-role="backbutton" data-icon="back"></a>
                <span data-role="view-title"></span>
                <a id="visit-start-button" class="hidden" data-role="button" data-align="right" data-click="visitStartOnClick">Начать</a>
                <a id="visit-finish-button" class="hidden" data-role="button" data-align="right" data-click="visitFinishOnClick">Закончить</a>
            </div>
        </header>
        
        <ul id="prod-cat-list" class="list" data-role="listview" data-template="prod-cat-list-tmpl"></ul>
    
        <script id="prod-cat-list-tmpl" type="text/x-kendo-template">
            <a class="list-item-header" href="views/VisitProducts.html?visitPlanItemId=#:visitPlanItemId#&skuCatId=#:skuCatId#">
                <p>#: name #</p>
            </a>
        </script>
    </div>
</body>
</html>