<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <script src="scripts/VisitProducts.js"></script>
    
    <div id="visit-products-view"
        data-role="view" 
        data-title="Наличие продукции" 
        data-layout="main" 
        data-show="visitProductsShow">
        
        <header data-role="header">
            <div data-role="navbar">
                <!--<a class="nav-button" data-align="left" data-role="button" data-icon="back" href="#:back"></a>-->
                <a class="nav-button" data-align="left" data-role="button" data-icon="drawer" data-rel="drawer" href="#visit-products-drawer"></a>
                <span data-role="view-title"></span>
            </div>
        </header>
        
        <form>
            <ul data-role="listview" id="visit-products-list" class="list" data-fixed-headers="true" data-template="visit-products-list-tmpl" 
                data-header-template="visit-products-list-header-tmpl">
            </ul>
            
            <script id="visit-products-list-tmpl" type="text/x-kendo-template">
                <p class="list-item-header">
                    <table cellspacing="5">
                        <tr>
                            <td><input type="checkbox" class="checkbox"/></td>
                            <td width="60px"><span style="margin-left: 10px">#:code#</span></td>
                            <td><span style="margin-left: 0px; width: 100%">#:name#</span></td>
                        </tr>
                    </table>
                    <!--<input data-role="switch" data-on-label="Yes" data-off-label="No" data-bind="checked: qnt"/>-->
                </p>
            </script>
            
            <script id="visit-products-list-header-tmpl" type="text/x-kendo-template">
                #: value #
            </script>
        </form>
    </div>
    
    <div id="visit-products-drawer" class="drawer" data-role="drawer" data-views="['visit-products-view']">
        <ul class="list list-item-header" data-role="listview">
            <li>
                <button data-role="button" data-click="visitProductsBackToVisit">Описание визита</button>
            </li>
            <li>
                <a href="#:back">
                    <p>Категория</p>
                </a>
            </li>
            <li class="list-item-group-header" style="background-color: LightGray;">
                <p>Первичный анализ</p>
            </li>
            <li>
                <a onclick="visitProductsDrawerClose()">
                    <p>Наличие продукции</p>
                </a>
            </li>
            <li>
                <p>Соблюдение планограммы</p>
            </li>
            <li>
                <a href="views/VisitPhoto.html">
                    <p>Фотоотчет</p>
                </a>
            </li>
            <li class="list-item-group-header" style="background-color: LightGray;">
                <p>Основной анализ</p>
            </li>
            <li>
                <p>Наличие продукции</p>
            </li>
            <li>
                <p>Соблюдение планограммы</p>
            </li>
            <li>
                <p>Доля на полке</p>
            </li>
            <li>
                <p>Промоактивность конкурентов</p>
            </li>
        </ul>
    </div>
    
</body>
</html>