<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <script src="scripts/VisitPlanogram.js"></script>
    <script src="scripts/PhotoGallery.js"></script>
    
    <div id="visit-planogram-view"
        data-role="view" 
        data-title="Соблюдение планограммы" 
        data-layout="main" 
        data-init="visitPlanogramInit" 
        data-show="visitPlanogramShow">
        
        <header data-role="header">
            <div data-role="navbar">
                <span data-role="view-title"></span>
            </div>
        </header>
        
    </div>
    
</body>
</html>