<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <script>
        var tmplParams = [];
        
        function routeListItemShow(e) {
            log("..routeListItemShow visitPlanItemId=" + e.view.params.visitPlanItemId);
            tmplParams = e.view.params;
            renderRouteListItem(e.view.params.visitPlanItemId);
            renderRouteListItemSkuList(e.view.params.visitPlanItemId);
        }

        function renderRouteListItem(visitPlanItemId) {
            dbTools.routeListDocGet(visitPlanItemId, renderRouteListItemView);
        }

        function renderRouteListItemSkuList(visitPlanItemId) {
            dbTools.routeListDocItemListGet(visitPlanItemId, renderRouteListItemSkuListView2);
        }

        function renderRouteListItemView(tx, rs) {
            log("..s renderRouteListItemView");
            var data = dbTools.rsToJson(rs);
            /*log("--data:" + data);
            for (var key in data[0]) {
                log("----" + key + "=" + data[0][key]);
            }*/
        }

        function renderRouteListItemSkuListView(tx, rs) {
            log("..s renderRouteListItemSkuListView");
            var data = dbTools.rsToJson(rs);
            var dataSource = new kendo.data.DataSource({data: data});
            if (tmplParams.grouped == 1) {
              dataSource.group("brandGrpName");
            }
            if (tmplParams.endless == 1) {
              $("#route-edit-skulist-tmpl").data("kendoMobileListView").endlessScroll = true;
              $("#route-edit-skulist-tmpl").data("kendoMobileListView").virtualViewSize = 50;
            }
            log("..s renderRouteListItemSkuListView render beg");
            /*var template = '<li data-uid="#=uid#"><p class="list-item-header">';
            if (tmplParams.checkbox == 1) {
              template += '<input type="checkbox" class="checkbox"/>';
            }
            if (tmplParams.switch == 1) {
              template += '<input data-role="switch" data-on-label="Yes" data-off-label="No" data-bind="checked: #:qnt#"/>';
            }
            template += '<span>#:name#</span></p></li>';
            log("template=" + template);
            $("#route-edit-skulist-tmpl").data("kendoMobileListView").template = kendo.template(template);
            log("t=" + $("#route-edit-skulist-tmpl").data("kendoMobileListView").template);*/
            $("#route-edit-skulist-tmpl").data("kendoMobileListView").setDataSource(dataSource);
            dataSource.read();
            $('.checkbox').iCheck({
              checkboxClass: 'icheckbox_flat-green',
              radioClass: 'iradio_flat-green',
              increaseArea: '20%' // optional
            });
            //$("#route-edit-skulist-tmpl").data("kendoMobileListView").refresh();
            log("..s renderRouteListItemSkuListView render end");
        }

        function renderRouteListItemSkuListView2(tx, rs) {
            log("..s renderRouteListItemSkuListView");
            var data = dbTools.rsToJson(rs);
            var dataSource = new kendo.data.DataSource({data: data});
            if (tmplParams.grouped == 1) {
              dataSource.group("brandGrpName");
            }
            /*if (tmplParams.endless == 1) {
              $("#route-edit-skulist-tmpl").data("kendoMobileListView").endlessScroll = true;
              $("#route-edit-skulist-tmpl").data("kendoMobileListView").virtualViewSize = 20;
            }*/
            log("..s renderRouteListItemSkuListView render beg");
            /*$("#route-edit-skulist-tmpl").data("kendoMobileListView").setDataSource(dataSource);
            dataSource.read();*/
            $("#route-edit-skulist-tmpl").data("kendoMobileListView").destroy();
            if (tmplParams.endless == 1) {
                log("....tmplParams.endless == 1");
                $("#route-edit-skulist-tmpl").kendoMobileListView({
                    dataSource: dataSource,
                    template: $("#route-edit-skulist-template").html(),
                    endlessScroll: true,
                    virtualViewSize: 20
                });
            } else {
                log("....tmplParams.endless != 1");
                $("#route-edit-skulist-tmpl").kendoMobileListView({
                    dataSource: dataSource,
                    template: $("#route-edit-skulist-template").html()
                });
            }
            $('.checkbox').iCheck({
              checkboxClass: 'icheckbox_flat-green',
              radioClass: 'iradio_flat-green',
              increaseArea: '20%' // optional
            });
            //$("#route-edit-skulist-tmpl").data("kendoMobileListView").refresh();
            log("..s renderRouteListItemSkuListView render end");
        }

    </script>
    
    <div data-role="view" id="route-view-edit-tmpl" data-title="Tmpl view" data-layout="main" data-show="routeListItemShow">
        <header data-role="header">
            <div data-role="navbar">
                <a class="nav-button" data-align="left" data-role="backbutton">Cancel</a>
                <span data-role="view-title"></span>
                <a class="nav-button" data-align="right" data-role="button">Save</a>
            </div>
        </header>
        
        <form>
            <!--<ul data-role="listview" id="route-edit-skulist-tmpl" data-template="route-edit-skulist-template" class="list" data-auto-bind="false"></ul>-->
            <!--<ul data-role="listview" id="route-edit-skulist-tmpl" data-template="route-edit-skulist-template" class="list" data-auto-bind="false" data-endless-scroll="true" data-virtual-view-size="10"></ul>-->
            <ul data-role="listview" id="route-edit-skulist-tmpl"></ul>
            <script id="route-edit-skulist-template" type="text/x-kendo-template">
                <p class="list-item-header">
                  #if (tmplParams.checkox == 1) {#
                    <input type="checkbox" class="checkbox"/>
                  #}#
                  #if (tmplParams.switch == 1) {#
                    <input data-role="switch" data-on-label="Yes" data-off-label="No" data-bind="checked: #:qnt#"/>
                  #}#
                  <span>#:name#</span>
                </p>
            </script>
            <script id="route-edit-skulist-header-template" type="text/x-kendo-template">
                #: value #
            </script>
        </form>
    </div>
</body>
</html>