<!DOCTYPE html>
<html>
<head>
    <title>Visit</title>
</head>
<body>
    <script src="scripts/test/Test.js"></script>
    
    <div data-role="view" data-title="Test" data-layout="main" data-init="testInit" data-show="testShow" >
        <header data-role="header">
            <div data-role="navbar">
                <a class="nav-button" data-align="left" data-role="button" data-icon="back" href="#:back"></a>
                <span data-role="view-title"></span>
            </div>
        </header>
        <div>
            <h5>Node Id</h5>
            <a id="node-id-get-button" data-role="button" data-click="nodeIdGetOnClick" style="font-size:70%">Get nodeId</a>
            <input id="node-id-edit" style="width:60px" />
            <a id="node-id-set-button" data-role="button" data-click="nodeIdSetOnClick" style="font-size:70%">Set nodeId</a>
            <!--<a id="get-blockid-button" data-role="button" data-click="testGetBlockId">Get blockId</a>
            <a id="get-button" data-role="button" data-click="testGetData">Get data</a>
            <a id="post-button" data-role="button" data-click="testPostData">Send data</a>-->
        </div>
        <div>
            <h3>Exchange</h3>
            <a id="exchange-button" data-role="button" data-click="testExchange">Exchange</a>
            <!--<a id="get-blockid-button" data-role="button" data-click="testGetBlockId">Get blockId</a>
            <a id="get-button" data-role="button" data-click="testGetData">Get data</a>
            <a id="post-button" data-role="button" data-click="testPostData">Send data</a>-->
            <div style="margin-top:4px">
                <label>fileId <input id="fileId" style="width:60px"></label>
                <a id="get-image-button" data-role="button" data-click="getImage" style="font-size:70%">Get Image</a>
            </div>
            <div style="margin-top:4px">
                <a id="get-image-all-button" data-role="button" data-click="getAllImages" style="font-size:70%">Get All Images</a>
            </div>
            <div style="margin-top:4px">
                <a id="get-location-button" data-role="button" data-click="getLocation" style="font-size:70%">Get Geolocation</a>
                <label style="margin-left:4px">Timeout <input id="timeout" type="number" value="30" min="1" max="300" step="1" style="width:100px"/></label>
            </div>
            <div style="margin-top:4px">
                <a id="save-image-button" data-role="button" data-click="saveImages" style="font-size:70%">Save Images</a>
                <a id="load-image-button" data-role="button" data-click="loadImage" style="font-size:70%">Load Image</a>
            </div>
        </div>
        <div>
            <h5>SQLite DB</h5>
            <a id="info-button" data-role="button" data-click="getInfo" style="font-size:70%">Get DB Info</a>
            <div>
                <a id="init-button" data-role="button" data-click="init" style="font-size:70%">Create System Tables</a>
                <!--<a id="cnt-button" data-role="button" data-click="dbTools.tableCount">Table Count</a>-->
                <a id="drop-all-button" data-role="button" data-click="dbTools.dropAllTables" style="font-size:70%">Drop All Tables</a>
            </div>
        </div>
        <div>
            <h5>Log</h5>
            <a id="log-clear-button" data-role="button" data-click="logClear" style="font-size:70%">Clear log</a>
            <!--<div data-role="scroller" style="height:100px">-->
                <ul id="console" data-role="listview" data-style="inset" data-type="group" style="font-size:70%"></ul>
            <!--</div>-->
        </div>
    </div>
</body>
</html>
